# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build outputs
*.dll
*.exe
*.pdb
*.cache

# NuGet
packages/
*.nupkg
*.snupkg

# Visual Studio cache
.vscode/
*.code-workspace

# Resharper
_ReSharper*/
*.DotSettings.user

# Others
*.log
*.tmp
*.temp